.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__banner {
    height: 30rem;
    aw-banner {
      display: flex;
      justify-content: center;
    }
  }
  &__description {
    height: 25rem;
    aw-description {
      display: flex;
      justify-content: center;
    }
  }
  &__videos {
    height: 25rem;
    aw-videos {
      display: flex;
      justify-content: center;
    }
  }
  &__news {
    height: 100%;
    aw-news {
      display: flex;
      justify-content: center;
      position: relative;
    }
  }
  &__about {
    height: 25rem;
    aw-about-us {
      display: flex;
      justify-content: center;
    }
  }
}
