/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./reset.scss";

* {
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
}
